// import modules here
// @import 'modules/social-channels';

.boss {
	width:30px;
	height:30px;
	margin:0px;
}

.macaco {
	height:400px;
}

.boss .lol .bolas .legal .le .global .benga #bou #lo .sf .sad .lslsl { 
	height:400px;
}
#ol .lol .ksk .boleta #over .lolol .sdasdfasdf {
	margin: 300px; 
	@include sprite(boss);
}
